@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
/*Navbar home*/
}
.Navbar{
    top: 0%;
    left: 0%;
    padding-left: 0px;
    width: 100%;
    border-bottom: 1px solid ;
    background-color: rgb(215, 215, 215);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    position: fixed;
}
.Navbar p{
    color: black;
}
.links a {
    padding-bottom: 2px;
    margin: 10px;
  }
/*navbar page de creation*/
.Navbar_internaut .links {
    justify-content: center;
    padding-left: 470px;
}
  .Navbar_internaut{
    top: 0%;
    left: 0%;
    padding-left: 0px;
    width: 100%;
    border-bottom: 1px solid ;
    background-color: rgb(215, 215, 215);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: fixed;
}
.Navbar_internaut p{
    color: black;
    justify-content: left;
}

  
.links a {
    padding-bottom: 2px;
    margin: 10px;
  }
/*dropdown*/
.dropdown-menu{
    position: absolute;
    top: 50px;
    right: 2px;
    width: 100px;
    padding: 15px;
    border-radius: 15px;
    background-color:rgb(215, 215, 215);
    border: 1px solid rgb(215, 215, 215);
 }

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.dropdown-menu li {
    color: black;
    padding: 8px 16px;
    cursor: pointer;
}
  
.dropdown-menu li:hover {
    background-color: white;
    width: 90px ;
}
/*create club*/
.fCreate_club{
    height: 400px;
    width: 800px;
    background-color: rgb(215, 215, 215);
    border: 1 solid;
    margin: 100px 360px;      
}
.title h1{
    color: black;
    font-size: 30px;
    text-align: center;
}
.inputs2{
    display: flex;
    align-items: center;
    width: 230px;
}
.input_left{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-left: 110px;
    color: black;
}
.vertical-line {
    height: 100px; /* Hauteur de la ligne */
    margin-left: 150px;
    border-left:  1px solid black; /* Bordure verticale à droite */

}
.input_right{
    display: flex;
    flex-direction: column;
    padding-left: 130px;
    padding-top: 15px;
    color: black;
}
.input_left, .input_right {
    flex: 1; /* Pour que les éléments occupent le même espace */
}
.table_inputs button{
    height: 22px;
    width: 50px;
    margin-left: 727px;
    font-size: 10px;
}
.table_inputs h2{
    text-align: center;
    color: black;
    font-size: 20px;
}
.Benvoie{
    text-align: center;
    
}
.table_inputs table{
    color: black;
    width: 750px;
    text-align: center;
    margin-left: 29px;
}
.icon1, .icon2  {
    padding-bottom: 2px;
    margin: 2px;
    color: black;
    padding-right:10px ;
  }
  

.membre input{
    background-color: rgb(215, 215, 215);
    border: none;
    outline: none;
} 
/*Contact*/
.contact_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contact_container h2{
    padding-left: 40px;
    color: rgb(70, 149, 234);
    font-size: 50px;
}
.fcontact {
    height: 400px;
    width: 820px;
    background-color: rgb(215, 215, 215);
    border: 1 solid;
    margin: 120px 40px;

}
.inputs3 {
    display: flex;
    flex-direction: column;  
    width: 400px;
    padding-top: 40px;
    padding-left: 220px;
    color: black;
    border: 1 solid;


}
.inputs3 textarea{
    border: 1 solid;

}
.inputs3 select{
    background-color: #fff;
    color: black;
    border: 1 solid;

}

/*Paiement*/
.fpaiement{
    height: 400px;
    width: 800px;
    background-color: rgb(215, 215, 215);
    border: 1 solid;
    margin: 120px 370px;  
}
.inputsp{
    display: flex;
    flex-direction: column;  
    width: 400px;
    padding-top: 40px;
    padding-left: 220px;
    color: black;
}
/*Apropos*/
.container4{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container4 img{
    width:100%;    
    padding-top: 40px;

}
.container4 h2{
    color: rgb(70, 149, 234);
    font-size: 40px;
    
}
.container4 p{
    color: black;
    padding-left: 80px;
    padding-right: 50px;
    font-size: 20px;

}
.objectif_list h3{
    color: rgb(33, 33, 33);
    text-decoration: underline;
    font-size: 30px;
}
.lists-container table {
    border-collapse: separate;
    border-spacing: 0 10px; /* Espacement vertical entre les lignes */
}
.lists-container td {
    padding: 8px;
  }
  
.lists-container p tr{
    display: flex;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
/*Buttom Navbar*/
.buttom_navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(215, 215, 215);
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}
.buttom_navbar span {
    color: black;

} 
/*Profile*/
.profile_container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-left: 230px;
}
.photoprofil img {
    width: 290px;
    height: 335px;
    padding-left: 200px;
    margin-right: 20px;
}

.infoprofil h1{
    color: rgb(70, 149, 234);
}
.infoprofil span{
    color: black;
}
.infoprofil h2{
    color: black;
}
/*Club*/
.clubs_section {
    padding-left: 420px;
}

.club_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.clubs_section h2 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: black;
    margin-bottom: 20px;
}

.club_box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 4px 8px  #ddd;
    background-color: #fff;
    padding: 10px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.club_box:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
    filter: brightness(0.8); /* Brighten the image */
    background-color:white; /* Light blue background color */

}

.club_box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* les clubs dans l'acceuil*/
.container5 {
    text-align: center;
    padding: 20px;
}
.container5 h2{
    text-decoration: underline;
}
.club_grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.club_item {
    width: 200px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; /* Optional: Add border to each box */
    border-radius: 10px; /* Optional: Add border radius to each box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for better visibility */
    background-color: #fff; /* Optional: Set background color */
    padding: 10px;
    padding-top: 50px;
    transition: all 0.3s ease;
}
.club_item:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
    filter: brightness(0.8); /* Brighten the image */
    background-color:white; /* Light blue background color */

}
.club_item p{
    color: black;
}
.club_item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure the image fits within the box without distortion */
    border-radius: 50%; /* Make the image circular */
}

/*evenement*/
.event_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.event_box {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
}

.event_box img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.event_box p {
    color: black;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}



